// Base Color
// --------------------------------------------------
$color-primary = darken(#159957, 5%);
$color-primary-invert = invert($color-primary);
$color-secondary = lighten(#283237, 3%);

$color-main = #000000;
$color-submain = lighten($color-main, 30%);
$color-vice = lighten($color-main, 40%);
$color-content = rgb(60, 60, 60);

$color-white = #ffffff;
$color-light = #e0e0e0;
$color-black = invert($color-white);
$color-dark = #252E32;
$color-grey = #9aa4a5;
$color-grey-light = #f3f3f3;
$color-grey-dark = #666666;
$color-danger = #f75151;

$color-code = #e33189;
$color-code-bkg = rgba(27,31,35,.05);
$color-border = #ddd;
$color-background = #fafafa;
$color-link = #007ade;
$color-link-hover = darken($color-link, 10%);
$color-link-active = darken($color-link-hover, 10%);

$color-disable = $color-grey-dark;

$color-code-background = #f7f7f7;
$color-code-foreground = #d73a49;

// Typography
// Font, line-height, and elements colors.
// --------------------------------------------------
// $font-family = Georgia, serif;
// $font-family = -apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
$font-family-chinese = Optima-Regular, PingFangTC-light;
$font-family = $font-family-chinese, sans-serif;
$font-family-monospace = consolas, Menlo, $font-family-chinese, monospace;


// Code & Code Blocks
// --------------------------------------------------
$code-font-family               = $font-family-monospace
$code-font-size                 = 0.13rem
$code-border-radius             = 0.3rem
$code-foreground                = $color-code-foreground
$code-background                = $color-code-background


// Unit
// --------------------------------------------------
$len-unit = 0.08rem;

// Mixins
// --------------------------------------------------
reset() {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

boxshadow() {
  box-shadow: 0 4px 10px rgba(0,0,0,.05), 0 0 1px rgba(0,0,0,.1);
}
