@import "./partial/config.styl";

// 文章内容样式
postContentStyle() {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
        border-bottom: 0.5px solid $color-border;
        padding-bottom: 8px;
        &::before {
            // content: '#';
            // margin-right: 0.08rem;
        }
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 17px;
    }
    h5 {
        font-size: 16px;
    }
    h5 {
        font-size: 15px;
    }
    h6 {
        font-size: 15px;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
        line-height: 1.25;
        margin: 24px 0 16px;
        a {
            color: $color-content;
        }
    }
    h1 {
        margin-top: 0 !important;
    }

    a {
        color: $color-link;
    }
    p {
        margin: 0 0 20px;
        font-size: 14px;
        line-height: 24px;
    }

    ol {
        list-style-type: decimal;
    }
    ul {
        list-style-type: disc;
    }
    ol, ul {
        display: block;
        list-style-position: initial;
        padding-left: 30px;
        font-size: 14px;
        font-family: $font-family;
        color: $color-content;
        p {
            margin: 0;
        }
    }

    h1, h2, h3, h4, h5, h6, p, li, section {
        color: $color-content;
        font-family: $font-family;
    }

    hr {
        border: 0.5px solid $color-border;
        margin: 0 auto;
        margin: 40px 0 24px;
        transform-origin: center;
        transform: scaleX(0.5);
    }

    section {
        margin: 0 0 20px;
    }
    blockquote section {
        margin: 0;
    }

    img {
        max-width: 100%;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }

    .article-wrapper, .ol-wrapper, .ul-wrapper {
        // font-size: inherit;
        // font-family: inherit;
        // color: inherit;

        font-size: 14px;
        font-family: $font-family;
        color: $color-content;
    }

    .list-item {
        position: relative;
        padding-left: 20px;
        margin: 5px 0;
        .list-item-prefix {
            position: absolute;
            width: 4px;
            height: 4px;
            top: 50%;
            left: 6px;
            transform: translateY(-50%);
            border-radius: 50%;
            background: $color-black;
        }
    }

    .mt0 {
        margin-top: 0;
    }
    .mb0 {
        margin-bottom: 0;
    }
    .mt5 {
        margin-top: 5px;
    }
    .mb5 {
        margin-bottom: 5px;
    }

    // 链接文字
    .text-link {
        color: $color-link;
    }

    // 表格
    section.table-wrapper {
        font-family: $font-family;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        display: table;
        width: 100%;
        overflow: auto;
        word-break: normal;
        word-break: keep-all;
        
        thead, tbody, tr, th, td {
            font-family: $font-family;
        }

        th {
            font-weight: normal;
        }
        th, td {
            padding: 5px 10px;
            border: 1px solid #e9ebec;
        }
        tr:nth-child(2n) {
            background-color: #f8f8f8;
        }
    }

    // 引言
    blockquote {
        margin: 16px 0;
        padding: 8px 16px;
        border-left: 4px solid $color-grey;
        background-color: $color-grey-light;
        &, & p {
            font-size: 14px;
            color: lighten($color-content, 15%);
        }
        & > p {
            margin: 0;
        }
    }
    .blockquote-title {
        font-weight: bold;
    }
    blockquote.tip {
        border-left-color: $color-primary;
    }
    blockquote.warn {
        border-left-color: $color-warn;
        color: $color-warn-text;
        background: $color-warn-bkg;
    }
    blockquote.danger {
        border-left-color: $color-danger;
        color: $color-danger-text;
        background: $color-danger-bkg;
    }
    blockquote.tip,
    blockquote.danger {
        // position: relative;
        &>.mark {
            margin: 0;
            padding: 0;
            display: inline-block;
            // position: absolute;
            // left: -11px;
            // top: 50%;
            // transform: translateY(-50%);
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: $color-danger;
            color: $color-white;
            text-align: center;
            line-height: 18px;
        }
    }
}

// 代码样式
postCodeStyle() {
    pre.prettyprint.prettyprinted {
        border: none;
        border-radius: 3px;
        -webkit-overflow-scrolling: touch;
        white-space: pre;
        letter-spacing: 0px !important;
        overflow: auto;
        ol {
            font-size: 12px;
        }
        section.pre-content {
            width: 1600px;
            max-width: 1600px !important;
            white-space: pre;
            margin: 0 !important;
        }
    }
    pre.linenums {
        padding-left: 10px;
    }
    code.prettyprint {
        padding: 2px 4px;
        font-size: 85%;
        border-radius: 3px;
        margin-left: 2px;
        margin-right: 2px;
    }
    ol.linenums {
        -webkit-overflow-scrolling: touch;
        li {
            code {
                span {
                    white-space: inherit !important;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}

#output {
    postContentStyle();

    postCodeStyle();
}