@import 'config.styl';

::selection {
  background: #fde6ba;
  color: #000;
}

/**
 * style components
 */
.overflow-hidden {
  overflow: hidden;
}
.left {
  float: left;
}

.right {
  float: right;
}

/**
 * Top Bar
 */
.topheader {
  -webkit-user-select: none;
  height: 0.66rem;
  line-height: 0.66rem;
  padding: 0 0.2rem;
  position: relative;
  background: $color-dark;
  border-bottom: 2px solid darken($color-primary, 10%);
  
  * {
    padding: 0;
    margin: 0;
    color: $color-primary;
  }

  a:hover {
    text-decoration: none;
  }

  .title {
    font-size: 0.24rem;
  }

  .nav {
    list-style-type: none !important;
  }
  .nav-item {
    float: left;
    margin-right: 0.2rem;
    height: 0.66rem;
    display: flex;
    align-items: center;
    a {
      color: darken($color-white, 5%);
    }
    a:hover {
      color: darken($color-white, 10%);
    }
    a:active {
      color: darken($color-white, 15%);
    }
  }
}

/**
 * #input
 */
#input {
  width: 100%;
  margin: 0;
  padding: 3em 5em;
  overflow: auto;
  border: none;
  font-family: inherit;
  color: inherit;
  outline: none;
  background: lighten(#283237, 3%);
  color: $color-white;
  position: absolute;
  top: 66px;
  left: 0;
  right: 0;
  bottom: 0;
  resize: none;
  z-index: 2;
  font-size: 0.15rem;
  cursor: text;
}

/**
 * #output
 */
#output {
  position: absolute;
  top: 66px;
  left: 0;
  right: 0;
  bottom: 0;
  resize: none;
  z-index: 1;
  background: #EEE;
  overflow: hidden;
  .wrapper {
    overflow-y: auto;
    height: 100%;
    margin: 20px auto;
    background: #FFF;
    padding: 1rem;
    width: 800px;
    padding-bottom: 100px;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
  }
}

/**
 * .btn-group
 */
.btn-group {
  .btn {
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .convert-button,
  .copy-button {
    position: absolute;
    right: 160px;
    z-index: 3;
    top: 80px;
    border-radius: 3px;
    background-color: #3a6586;
    cursor: pointer;
    font-size: 14px;
  }

  .convert-button {
    right: 30px;
    background-color: #159957;
    // border: 1px solid #159957;
    color: #e4e4e4;
  }
}