@import 'config.styl';

::selection {
  background: #fde6ba;
  color: #000;
}

/**
 * style components
 */
.overflow-hidden {
  overflow: hidden;
}
.left {
  float: left;
}

.right {
  float: right;
}

/**
 * Top Bar
 */
.topheader {
  -webkit-user-select: none;
  height: 0.66rem;
  line-height: 0.66rem;
  padding: 0 0.2rem;
  position: relative;
  background: $color-dark;
  border-bottom: 1px solid darken($color-primary, 10%);
  
  * {
    padding: 0;
    margin: 0;
    color: $color-primary;
  }

  a:hover {
    text-decoration: none;
  }

  .title {
    font-size: 0.24rem;
  }

  .nav {
    list-style-type: none !important;
  }
  .nav-item {
    float: left;
    margin-right: 0.2rem;
    height: 0.66rem;
    display: flex;
    align-items: center;
    a {
      color: darken($color-white, 5%);
    }
    a:hover {
      color: darken($color-white, 10%);
    }
    a:active {
      color: darken($color-white, 15%);
    }
  }
}

/**
 * markdowner-wrapper
 */
.markdowner-wrapper {
  position: absolute;
  top: 66px;
  left: 0;
  right: 0;
  bottom: 0;
  display:flex;
  justify-content: space-between;
  background: $color-secondary;
  .input-wrapper {
    width: 50%;
    position: relative;
    background: $color-secondary;
    #input {
      position: absolute;
      width: 100%;
      top: 0.5rem;
      bottom: 0;
      padding: 0 0.2rem 0.2rem;
      overflow: auto;
      border: none;
      outline: none;
      resize: none;
      font-size: 0.15rem;
      font-family: inherit;
      color: $color-light;
      cursor: text;
      background: $color-secondary;
    }
  }

  .output-wrapper {
    width: 50%;
    position: relative;
    background: $color-white;
    #output {
      position: absolute;
      top: 0.5rem;
      bottom: 0;
      padding: 0 0.2rem 0.2rem;
      width: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      background: $color-white;
    }
  }
} 

/**
 * input
 */
// .input-wrapper {
//   position: absolute;
//   top: 66px;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 2;
//   width: 100%;
//   margin: 0;
//   background: $color-secondary;

//   display: flex;
//   justify-content: center;
// }
// #input {
//   position: absolute;
//   width: 8rem;
//   height: auto;
//   left: 50%;
//   transform: translateX(-50%);
//   top: 0.5rem;
//   bottom: 0;
//   overflow: auto;
//   border: none;
//   font-family: inherit;
//   color: inherit;
//   outline: none;
//   background: $color-secondary;
//   color: $color-white;
//   resize: none;
//   font-size: 0.15rem;
//   cursor: text;
// }

/**
 * #output
 */
// .output-wrapper {
//   position: absolute;
//   top: 0.66rem;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   resize: none;
//   z-index: 1;
//   background: $color-secondary;
//   overflow: hidden;
//   #output {
//     overflow-y: auto;
//     height: 100%;
//     margin: 0.5rem auto 0;
//     background: #FFF;
//     padding: 0.3rem 0.5rem;
//     width: 800px;
//     padding-bottom: 100px;
//     max-width: 100%;
//     -webkit-overflow-scrolling: touch;
//   }
// }

/**
 * .btn-group
 */
.tools-bar-wrapper {
  position: absolute;
  z-index: 3;
  top: 0.66rem;
  left: 0;
  right: 0;
  overflow: hidden;

  .tools-bar {
    float: right;
    width: 50%;
    // width: 100%;
    height: 0.5rem;
    background: #efefef;
    border: 1px solid $color-border;
    padding: 0 0.2rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .themes-group {
    label {
    }
    margin-right: 0.2rem;
  }

  /* 按钮组 */
  .btn-group {
    .btn {
      border: none;
      color: $color-white;
      padding: 5px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }

    .copy-button {
      border-radius: 3px;
      background-color: $color-primary;
      cursor: pointer;
      font-size: 14px;
    }
  }
}